<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<!-- Portfolio -->
					<section>
						<header class="major">
							<h2>Resumes</h2>
						</header>
						<div>
							<% @template.each do |template| %>
								<div class="row">
									<div class="4u">
										<section class="box">
											<a href="#" class="image image-full">
												<%= image_tag template.main_image %>
												<!-- <img src="/assets/pic02.jpg" alt="" /> --></a>
											<header>
												<h3><%= template.name %></h3>
											</header>
											<p><%=template.short_desc%></p>
											<p>
												<div class="addthis_toolbox addthis_default_style ">
													<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
												</div> 
											</p>
										</section>
									</div>
								<%end%>
							</div>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>