<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<!-- Portfolio -->
					<section>
						<header class="major">
							<h2>Upload your resume</h2>
						</header>
						<div>
							<div class="row">
								<%= form_for @order do |f| %>
									<p>
									  <b> Attachment :</b>
									  <%= f.file_field :document %>
									</p>
								  <p>
									  <%= f.submit 'submit' %>
									</p>
								<%end%>
							</div>
					  </div>
					</section>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(function() {
		$('#order_document').change(function() {
		var fileExtension = ['doc', 'docx', 'txt', 'pdf', 'rtf'];
			if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
			alert("Only 'doc', 'docx', 'txt', 'pdf', 'rtf'  formats are allowed.");
			}
		})
	})

	
</script>