<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<!-- Header -->
					<section id="header">
						<!-- Logo -->
							<h1><a href="#">Gethired</a></h1>
						<!-- Nav -->
							<nav id="nav" style='display:block;'>
								<ul>
									<li class="current_page_item"><a href="/">HOME</a></li>
									<li><a href="/templates">All RESUMES</a></li>
									<li><a href="#">WHY GETHIRED?</a></li>
									<li><a href="#">TESTIMONIALS</a></li>
									<li><a href="/contact">CONTACT</a></li>
									<li><a href="/blog/">BLOG</a></li>
								</ul>
							</nav>
					</section>
			</div>
		</div>
  </div>
</div>